<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class="row">
  <div class="col-12">
    <div class="card text-center mx-auto" style="width: 25rem;">
      <div>
            <h5 class="card-title">Log In</h5>
      </div>
      <hr>
      <div class="card-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
             
            
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            
            <div class="field">
              <%= f.label :password%>
             <br>
              <%= f.password_field :password, autocomplete: "new-password"%>
            </div>

            <br>
            <div class="actions">
              <%= f.submit "log In" ,class: "btn btn-dark" %>
            </div>
          <% end %>
          <br>
             <a> <%= render "users/shared/links" %></a>

        </div>
     </div>
  </div>
</div>





