<div class="row">
  <div class="col-12">
    <div class="card card-signup text-center mx-auto" style="width: 25rem;">
      <div>
            <h5 class="card-title">Sign Up</h5>
      </div>
      <hr>
      <div class="card-body">

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "users/shared/error_messages", resource: resource %>
            <div class="field">
              <label>First Name</label><br/>
              <%= f.text_field :first_name, autofocus: true, autocomplete: "fisrt-name" %>
            </div>

            <%# <br> %>
            <div class="field">
              <label>Last Name</label><br />
              <%= f.text_field :last_name, autofocus: true, autocomplete: "last-name" %>
            </div>

            
            <div class="field">
              <label>Email</label><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            
            <div class="field">
              <label>Password</label><br>
              <%= f.password_field :password, autocomplete: "new-password", placeholder: "*#{@minimum_password_length if @minimum_password_length} characters minimum" %>
            </div>

            
            <div class="field">
              <label>Password</label><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>

            <br>
            <div class="actions">
              <%= f.submit "Sign up" ,class: "btn btn-dark" %>
            </div>
          <% end %>
             <a> <%= render "users/shared/links" %></a>

        </div>
     </div>
  </div>
</div>

